<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>gallery</name>
	<displayName><![CDATA[Photo Gallery]]></displayName>
	<version><![CDATA[0.1]]></version>
	<description><![CDATA[Adds Photo Gallery on your store.]]></description>
	<author><![CDATA[Kurniawan]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall>Are you sure you want to delete all your Gallery?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>